In [2]:
import pandas as pd

In [5]:
pd.Series([2, 3, 4, 5, 6])

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [7]:
mySeries = pd.Series(['a', 'a', 'b',])

In [8]:
mySeries

0    a
1    a
2    b
dtype: object

In [9]:
a = ['dog', 'cat', 'frog']
b = [4, 4, 4]

pd.DataFrame([a, b])

     0    1     2
0  dog  cat  frog
1    4    4     4

In [10]:
pd.DataFrame({'animal' : a, 'legs': b})

  animal  legs
0    dog     4
1    cat     4
2   frog     4

In [11]:
z = {'animal': 'dog', 'legs': 4}
x = {'animal': 'cat', 'legs': 4}
y = {'animal': 'frog', 'legs': 4}
pd.DataFrame([z, x, y])

  animal  legs
0    dog     4
1    cat     4
2   frog     4

In [15]:
my_df = pd.DataFrame({'things': [0,1,2,3,4,5,6,7,8,9,10],
                     'stuff': ['a','a','a','a','a','a','a','a','a','a','a']})

In [19]:
my_df.head(2)

   things stuff
0       0     a
1       1     a

In [23]:
my_df.tail(3)

    things stuff
8        8     a
9        9     a
10      10     a

In [24]:
my_df['things']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: things, dtype: int64

In [27]:
my_df[['things', 'stuff']]

    things stuff
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a
10      10     a

In [28]:
my_df.loc[0]

things    0
stuff     a
Name: 0, dtype: object

In [29]:
my_df.iloc[0]

things    0
stuff     a
Name: 0, dtype: object

In [30]:
my_df.iloc[3:5]

   things stuff
3       3     a
4       4     a

In [34]:
my_df[my_df['things'] < 4]['stuff']

0    a
1    a
2    a
3    a
Name: stuff, dtype: object

In [35]:
my_df.index

RangeIndex(start=0, stop=11, step=1)

In [36]:
my_df.columns

Index(['things', 'stuff'], dtype='object')

In [39]:
list(range(0, 50, 3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]